@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container{
  max-width: 1270px;
  margin: 0 auto;
}
:root {
  --color-primary: #fff;
  --color-secondary: #000;
  --color-proton: #000;
  --box-color: rgba(0, 0, 0, 0.0562443);
  --nav-color: #FFFFFF;
   --white: #f1eaea;
  --black: #181717;
  --hue: 223;
  --load: #1c232a;
  --bg: hsl(var(--hue),10%,90%);
  --fg: hsl(var(--hue),10%,10%);
  font-size: calc(10px + (24 - 18) * (100vw - 320px) / (1280 - 320));
  --ism: rgba(0, 0, 0, 0.802);
  --user-bac: white;
  --button: white;
  --search: white;
  --input: #FFFFFF;
}

.dark {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-proton: #d3d3d3;
  --box-color: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
  --nav-color: #29343f;
  --bacground: #202C36;
  --ism: #A5C9CA;
  --user-bac: #2f3f3f;
  --button: rgba(29, 28, 28, 0.311);
  --search: #c2c0c0;
  --input: #313b48;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#loading{
    position: fixed;
    background-color: var(--load);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    transition: .5s; 
  }
#loading.loading-none {
    opacity: 0;
    z-index: -1;
}
.pl,
.pl__worm {
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.pl {
  animation-name: bump;
  animation-timing-function: linear;
  width: 8em;
  height: 8em;
}
.pl__ring {
  stroke: hsla(var(--hue),10%,10%,0.1);
  transition: stroke 0.3s;
}
.pl__worm {
  animation-name: worm;
  animation-timing-function: cubic-bezier(0.42,0.17,0.75,0.83);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue),10%,10%);
    --fg: hsl(var(--hue),10%,90%);
  }
  .pl__ring {
    stroke: hsla(var(--hue),10%,90%,0.1);
  }
}

/* Animations */
@keyframes bump {
  from,
  42%,
  46%,
  51%,
  55%,
  59%,
  63%,
  67%,
  71%,
  74%,
  78%,
  81%,
  85%,
  88%,
  92%,
  to { transform: translate(0,0); }
  44% { transform: translate(1.33%,6.75%); }
  53% { transform: translate(-16.67%,-0.54%); }
  61% { transform: translate(3.66%,-2.46%); }
  69% { transform: translate(-0.59%,15.27%); }
  76% { transform: translate(-1.92%,-4.68%); }
  83% { transform: translate(9.38%,0.96%); }
  90% { transform: translate(-4.55%,1.98%); }
}
@keyframes worm {
  from { stroke-dashoffset: 10; }
  25% { stroke-dashoffset: 295; }
  to { stroke-dashoffset: 1165; }
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}


body {
  background-color: var(--bacground);
  color: var(--color-secondary);
  transition: all .6s ease-out;
}


nav{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1rem;
  padding: 1.7rem .8rem;
  box-shadow: 0px 2px 4px var(--box-color);
  z-index: 999;
  background: var(--nav-color);
  width: 100%;
  transition: all .6s ease-out;
}
.na{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  color: var(--color-proton);
}

#nav-mode_switch {
  background: transparent;
  outline: none;
  color: var(--color-secondary);
  border: none;
  cursor: pointer;
  font-size: .9rem;
}

body.dark #nav-mode_switch .fa-sun {
  display: none;
  font-size: .9rem;
}

body.dark #nav-mode_switch .fa-moon {
  font-size: .9rem;
  display: block;
}
span{
  font-weight: 500;
}
body.dark #nav-mode_switch span:hover{
  transform: rotate(360deg);
}

#nav-mode_switch .fa-moon {
  display: none;
}



.fl-drop-inp{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 10px;
}
.inp-fl{
  display: flex;
  gap: 10px;
  background: var(--input);
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.076);
  border-radius: 5px;
  width: 37%;
  color: var(--color-proton);
  padding-left: 30px;
}
.inp-fl input{
  background: var(--input);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  color: var(--color-proton);
}
.dropdownMenu{
  width: 200px;
  cursor: pointer;
}
.dropdown{
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.111);
  padding: 18px 20px;
  border-radius: 5px;
  background-color: var(--input);
  font-size: 16px;
}
.drop-options{
  display: none;
  position: absolute;
  width: 200px; 
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.118);
  background-color: var(--nav-color);
  padding: 10px 15px;
  margin-top: 15px;
  border-radius: 5px;
}
.drop-options p{
  margin: 5px 0;
}
.show-options{
  display: block;
}



.users-row{
  width: 100%;
  height: auto;
  background-position: center;
  /* background-image: url(./back.png); */
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 22px;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 10px;
  transition: 0.5s;
}

.card{
  width: 94%;
  padding: 10px 10px;
  background: rgba(255, 255, 255, 0.161);
  border-radius: 9px;
  border: 1px solid rgba(128, 128, 128, 0.492);
  transition: .7s;
  margin-bottom: 17px;
}
.card:hover{
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.065), 0 3px 6px rgba(0, 0, 0, 0.286);
  transform: translateY(-9px);
}
.card img{
  width: 100%;
  height: 160px;
}
.card h2{
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0px;
}

.Margin{
  padding-top: 15px;
}
h2{
  display: flex;
  justify-content: space-between;
}
.Ism{
  color: var(--ism);
}
.bt{
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.profile-details {
  width: 100%;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px 0;
  text-align: center;
  background-color: var(--button);
  transition: .5s;
}
.profile-details:hover{
  transform: translateY(-5px);
}


.card p{
  color: var(--load);
  font-size: 16px;
  margin: 14px 0px;
}

.card .links img{
  width: 40px;
  border-radius: 50%;
  margin: 5px 5px;
}
.card .links img:hover{
  background: #ff01cf;
}





.countryModal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
}
.back{
  position: absolute;
  top: 3rem;
  left: 30px;
  background: var(--color-primary);
  color: var(--color-proton);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  padding: 10px 20px;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
}
.modal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.leftModal{
  width: 50%;
}
.leftModal img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rightModal{
width: 50%;
margin-left: 20px;
}
.modalinfo{
  display: flex;
  justify-content: space-between;
}
.rightModal h1{
  margin: 10px 0;
  letter-spacing: 1px;
  font-size: 40px;
}
.inner p{
  font-weight: 600;
}
.show{
  display: none;
}




@media (max-width:900px) {
  .users-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:650px) {
  .Cards{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 15px;
  }
  .card{
  width: 100%;
  max-width: 3000px;
  }
}